[Unit]
Description=checkpassword server
After=syslog.target
After=local-fs.target
After=mariadb.service
ConditionFileIsExecutable=/opt/qbox/bin/checkpassword-server

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
Restart=always
StandardOutput=syslog
StandardError=inherit
SyslogFacility=mail
SyslogIdentifier=checkpassword-server
User=mail
Group=mail
ExecStart=/opt/qbox/bin/checkpassword-server --port=7520 --maxfail=10 --failscript=/opt/qbox/bin/blackhole.pl
